@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes twinkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes blink {
  0%, 25%, 60%, 100% {
    opacity: 0;
  }
  13%, 47%, 75% {
    opacity: 1;
  }
}
@keyframes appearsSlowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growsUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes unfoldTop {
  from {
    height: 20%;
    opacity: 0.1;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
@keyframes unfoldBottom {
  from {
    transform: translateY(12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.459);
  z-index: 900;
  opacity: 0;
  animation: overlay 1s ease forwards;
}

.hidden {
  display: none;
}

.main-content {
  background: rgb(5, 3, 5);
}

.main-header {
  background: rgb(10, 9, 10);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 1rem;
}
.main-header__menu {
  color: rgb(240, 240, 226);
  font-size: 1.5rem;
  padding-top: 1.3rem;
}
.main-header__menu:hover {
  cursor: pointer;
}
.main-header__logo {
  width: 3.5rem;
  height: auto;
  border-radius: 100px;
  padding-block: 0.5rem;
}
.main-header__cart {
  color: rgb(240, 240, 226);
  font-size: 1.5rem;
  padding-top: 1.3rem;
}
.main-header__cart:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  height: 100%;
  font-size: 1.1rem;
  color: #a8a8a1;
  border: 1px solid #191917;
  background: linear-gradient(180deg, rgb(3, 3, 3) 27%, rgb(26, 25, 24) 92%);
}
footer #copyright {
  position: absolute;
  left: 17%;
}
footer .footer-logo {
  width: 6rem;
  height: 6rem;
  border-radius: 20px;
  margin-top: 1rem;
  position: absolute;
  left: 47%;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 55%;
}
footer .footer-nav-logo {
  width: 1.4rem;
  fill: #a8a8a1;
  margin-top: 1rem;
}

.headline-wrapper {
  width: 100%;
  height: 50rem;
  background-image: url(/img/violon-zoom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0.1rem solid wheat;
  border-bottom: 0.4rem solid wheat;
  margin-bottom: 1.5rem;
  animation: appearsSlowly 0.3s ease-out forwards;
}
.headline-wrapper .headline {
  width: 50%;
  height: 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 4rem;
}
.headline-wrapper .headline__title {
  margin-top: 0;
  margin-bottom: 1.8rem;
  font-size: 8.3rem;
  color: wheat;
  font-family: "Lora", "Montserrat", sans-serif;
  font-weight: 500;
  opacity: 0;
  animation: slideInUp 1.8s ease-in-out forwards;
}
.headline-wrapper .headline__subtitle {
  margin: 0;
  color: #59592e;
  font-size: 1.6rem;
  font-weight: 400;
}
.headline-wrapper .headline #headlineSubtitle::after {
  content: "|";
  animation: blink 2.7s ease-in-out forwards 2;
  animation-delay: 0.6s;
  margin-left: 5px;
  color: #696937;
  opacity: 0;
}

.nav-wrapper {
  width: 100%;
  height: auto;
  padding-block: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 15%;
  background: rgb(5, 3, 5);
}
.nav-wrapper .nav-filters {
  display: flex;
}
.nav-wrapper .nav-filters__title {
  color: rgb(240, 240, 226);
  font-size: 1.9rem;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  animation: growsUp 0.6s ease-out;
}
.nav-wrapper .nav-filters__title:hover {
  transform: scale(95%);
  color: #d6d6b0;
}
.nav-wrapper .nav-filters__bar {
  width: 3px;
  height: 100%;
  background: #696937;
  border-radius: 20px;
  margin-right: 2.5rem;
  transition: 0.3s;
  animation: appearsSlowly 2.2s ease-in-out;
  animation: twinkle 0.8s linear infinite alternate-reverse;
}
.nav-wrapper .nav-filters__bar:hover {
  height: 0%;
  width: 40px;
  animation: none;
}

.article-container {
  padding-top: 7rem;
  padding-inline: 17%;
}
.article-container .bigcard {
  color: rgb(240, 240, 226);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto, auto;
  gap: 4rem;
  padding-bottom: 16rem;
}
.article-container .bigcard__img-wrapper {
  position: relative;
  width: 120%;
  padding-bottom: 2rem;
}
.article-container .bigcard__img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(59, 59, 56, 0.329) 0px 18px 100px 20px;
}
.article-container .bigcard .arrow {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  border: none;
  border-radius: 40%;
  font-size: 0.7rem;
  padding: 0.7rem;
  opacity: 0.3;
  background: rgb(12, 12, 11);
  color: rgb(240, 240, 226);
  cursor: pointer;
  z-index: 10;
}
.article-container .bigcard #arrow-left {
  left: 0.5rem;
}
.article-container .bigcard #arrow-right {
  right: 0.5rem;
}
.article-container .bigcard__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-left: 9rem;
  padding-bottom: 1.5rem;
  position: relative;
}
.article-container .bigcard__about__title {
  color: #fbf2e0;
  font-size: 2.7rem;
  padding-bottom: 1rem;
}
.article-container .bigcard__about__subtitle {
  color: #d1d1a5;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: auto;
}
.article-container .bigcard__about__btn {
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
  width: 15rem;
  height: 4rem;
  border: 1px solid rgba(190, 190, 154, 0.459);
  border-radius: 100px;
  padding-block: 1rem;
  color: #e4e4ca;
  background: linear-gradient(180deg, rgb(3, 3, 3) 27%, rgb(26, 25, 24) 92%);
  opacity: 0.85;
  position: absolute;
  bottom: 5%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}
.article-container .bigcard__about__btn:hover {
  background-color: #141412;
  box-shadow: rgba(199, 207, 143, 0.473) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.274) -1px -1px 1px 1px inset;
}

.fade-in {
  animation: unfoldTop 0.2s ease-in-out;
}

.fade-in-txt {
  animation: unfoldBottom 1s ease-out;
}

.side-modal {
  position: fixed;
  top: 0;
  left: -400px;
  width: 20%;
  height: 100%;
  background: linear-gradient(180deg, rgb(3, 3, 3) 27%, rgb(26, 25, 24) 92%);
  color: rgb(240, 240, 226);
  z-index: 1000;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  gap: 2rem;
}
.side-modal__close {
  background: none;
  border: none;
  color: rgb(240, 240, 226);
  opacity: 0.8;
  font-size: 1.5rem;
  align-self: flex-end;
  padding-right: 8px;
  cursor: pointer;
}
.side-modal__nav {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 1.2rem;
  padding-top: 2rem;
}
.side-modal__nav--line {
  width: 100%;
  height: 1px;
  background-color: wheat;
  opacity: 0.2;
  animation: twinkle 3s ease-in-out alternate-reverse infinite;
}
.side-modal__nav__bottom {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: auto;
  padding-bottom: 2rem;
}

.side-modal a {
  transition: 0.2s ease-out;
  border-radius: 10px;
  padding-left: 15px;
}

.side-modal a:hover {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transform: scale(98%);
  border-left: 1px dashed grey;
}

.side-modal.active {
  left: 0;
}/*# sourceMappingURL=home.css.map */