@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
}
body a {
  text-decoration: none;
}

.main-content {
  background: rgb(5, 3, 5);
}

.main-header {
  background: rgb(10, 9, 10);
  height: 6rem;
}
.main-header__menu {
  color: white;
}

.main-header {
  background: rgb(10, 9, 10);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 1rem;
}
.main-header__menu {
  color: rgb(240, 240, 226);
  font-size: 1.5rem;
  padding-top: 1.3rem;
}
.main-header__menu:hover {
  cursor: pointer;
}
.main-header__logo {
  width: 3.5rem;
  height: auto;
  border-radius: 100px;
  padding-block: 0.5rem;
}
.main-header__cart {
  color: rgb(240, 240, 226);
  font-size: 1.5rem;
  padding-top: 1.3rem;
}
.main-header__cart:hover {
  cursor: pointer;
}

.headline-wrapper {
  width: 100%;
  height: 50rem;
  background-image: url(/img/violon-zoom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0.1rem solid wheat;
  border-bottom: 0.4rem solid wheat;
  margin-bottom: 1.5rem;
}
.headline-wrapper .headline {
  width: 50%;
  height: 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 4rem;
}
.headline-wrapper .headline__title {
  margin-top: 0;
  margin-bottom: 1.8rem;
  font-size: 8rem;
  color: wheat;
  font-family: "Lora", "Montserrat", sans-serif;
  font-weight: 500;
}
.headline-wrapper .headline__subtitle {
  margin: 0;
  color: #59592e;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav-wrapper {
  width: 100%;
  height: auto;
  padding-block: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 15%;
  background: rgb(5, 3, 5);
}
.nav-wrapper .nav-filters {
  display: flex;
}
.nav-wrapper .nav-filters__title {
  color: rgb(240, 240, 226);
  font-size: 1.9rem;
  font-weight: 300;
}
.nav-wrapper .nav-filters__bar {
  width: 1px;
  height: 100%;
  background: #aaaa5c;
  opacity: 0.6;
  margin-right: 2.5rem;
}

.article-container {
  padding-block: 7rem;
  padding-inline: 17%;
}
.article-container .bigcard {
  color: rgb(240, 240, 226);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto, auto;
  gap: 4rem;
  margin-bottom: 17rem;
}
.article-container .bigcard__img-wrapper {
  position: relative;
  width: 120%;
}
.article-container .bigcard__img {
  width: 100%;
  border-radius: 1rem;
}
.article-container .bigcard .arrow {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  border: none;
  width: auto;
  border-radius: 40%;
  border: 2px solid white;
  font-size: 1rem;
  padding: 0.7rem;
  opacity: 0.2;
  background: rgb(5, 3, 5);
  color: rgb(240, 240, 226);
  cursor: pointer;
  z-index: 10;
}
.article-container .bigcard #arrow-left {
  left: 0.3rem;
}
.article-container .bigcard #arrow-right {
  right: 0.3rem;
}
.article-container .bigcard__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  height: auto;
  padding-left: 9rem;
  padding-bottom: 1.5rem;
}
.article-container .bigcard__about__title {
  color: #fbf2e0;
  font-size: 2.7rem;
  padding-bottom: 1rem;
}
.article-container .bigcard__about__subtitle {
  color: #d1d1a5;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: auto;
}
.article-container .bigcard__about__btn {
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
  width: 15rem;
  height: 4rem;
  border: 1px solid rgba(190, 190, 154, 0.459);
  border-radius: 100px;
  padding-block: 1rem;
  color: rgb(240, 240, 226);
  background-color: rgb(12, 12, 11);
  opacity: 0.85;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}/*# sourceMappingURL=home.css.map */