@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes slideDownHeader {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes twinkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes blink {
  0%, 25%, 60%, 100% {
    opacity: 0;
  }
  13%, 47%, 75% {
    opacity: 1;
  }
}
@keyframes appearsSlowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growsUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes unfoldTop {
  from {
    transform: scaleY(0);
    opacity: 0.2;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes unfoldBottom {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInUpDetails {
  from {
    transform: scaleY(0.5);
    opacity: 0.2;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes slideDownDetails {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes zoomInImage {
  from {
    width: 20%;
    opacity: 0;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.459);
  z-index: 900;
  opacity: 0;
  animation: overlay 1s ease forwards;
}

.hidden {
  display: none;
}

.main-content {
  background: rgb(5, 3, 5);
}

.main-header {
  background: rgb(10, 9, 10);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 1rem;
  animation: appearsSlowly 0.3s ease forwards 0.3s;
  opacity: 0;
}
.main-header__menu {
  color: rgb(240, 240, 226);
  font-size: 1.5rem;
  padding-top: 1.3rem;
  animation: slideDownHeader 1.3s ease-in-out forwards;
  transform-origin: top;
}
.main-header__menu:hover {
  cursor: pointer;
}
.main-header__logo {
  width: 3.5rem;
  height: auto;
  border-radius: 100px;
  padding-block: 0.5rem;
  animation: slideDownHeader 2s ease-in-out forwards;
  transform-origin: top;
}
.main-header__cart {
  color: rgb(240, 240, 226);
  font-size: 1.5rem;
  padding-top: 1.3rem;
  animation: slideDownHeader 0.8s ease-in-out forwards;
  transform-origin: top;
}
.main-header__cart:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  height: 100%;
  font-size: 1.1rem;
  color: #a8a8a1;
  border: 1px solid #191917;
  background: linear-gradient(180deg, rgb(3, 3, 3) 27%, rgb(26, 25, 24) 92%);
  animation: appearsSlowly 0.6s ease-in-out forwards 0.4s;
  opacity: 0;
}
footer #copyright {
  position: absolute;
  left: 17%;
}
footer .footer-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 20px;
  margin-top: 1rem;
  position: absolute;
  left: 47%;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 55%;
}
footer .footer-nav-logo {
  width: 1.2rem;
  fill: #a8a8a1;
  margin-top: 0.7rem;
}

.side-modal {
  position: fixed;
  top: 0;
  left: -400px;
  width: 20%;
  height: 100%;
  background: linear-gradient(180deg, rgb(3, 3, 3) 27%, rgb(26, 25, 24) 92%);
  color: rgb(240, 240, 226);
  z-index: 1000;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  gap: 2rem;
}
.side-modal__close {
  background: none;
  border: none;
  color: rgb(240, 240, 226);
  opacity: 0.8;
  font-size: 1.5rem;
  align-self: flex-end;
  padding-right: 8px;
  cursor: pointer;
}
.side-modal__nav {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 1.2rem;
  padding-top: 2rem;
}
.side-modal__nav--line {
  width: 100%;
  height: 1px;
  background-color: wheat;
  opacity: 0.2;
  animation: twinkle 3s ease-in-out alternate-reverse infinite;
}
.side-modal__nav__bottom {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: auto;
  padding-bottom: 2rem;
}

.side-modal a {
  transition: 0.2s ease-out;
  border-radius: 10px;
  padding-left: 15px;
}

.side-modal a:hover {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transform: scale(98%);
  border-left: 1px dashed grey;
}

.side-modal.active {
  left: 0;
}

.side-modalShop {
  position: fixed;
  top: 0;
  right: -400px;
  width: 20%;
  height: 100%;
  background: linear-gradient(180deg, rgb(3, 3, 3) 27%, rgb(26, 25, 24) 92%);
  color: rgb(240, 240, 226);
  z-index: 1000;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.side-modalShop__close {
  background: none;
  border: none;
  color: rgb(240, 240, 226);
  opacity: 0.8;
  font-size: 1.5rem;
  padding-left: 8px;
  cursor: pointer;
  align-self: flex-start;
}

.side-modalShop.active {
  right: 0;
}

.cart {
  color: white;
  position: absolute;
  width: 100%;
  top: 1.5rem;
  padding-bottom: 1.4rem;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
}
.cart__title {
  font-size: 1.3rem;
  font-weight: 200;
}
.cart__summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 200;
  gap: 6px;
  list-style: none;
}
.cart__checkout-btn {
  width: 9rem;
  font-size: 0.9rem;
  margin: auto;
  margin-top: 1.7rem;
  background-color: rgb(12, 12, 11);
  color: #e7e7d1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(138, 118, 6, 0.555) 0px 0px 2px 1px inset;
  cursor: pointer;
}

.cart--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart--items__item {
  display: flex;
  justify-content: space-evenly;
  margin-right: 2rem;
  list-style: none;
  padding-bottom: 2.3rem;
}
.cart--items__item__img {
  display: block;
  width: 120px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 2rem;
}

.items__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(240, 240, 226);
}
.items__details__name {
  font-weight: 300;
  color: rgb(240, 240, 226);
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}
.items__details__price {
  font-size: 0.8rem;
  font-weight: 200;
  padding-bottom: 0.8rem;
}
.items__details__remove {
  width: 3rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 100;
  background-color: #150d15;
  color: #dfdfc0;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(138, 118, 6, 0.555) 0px 0px 2px 1px inset;
  cursor: pointer;
}
.items__details--separator {
  width: 100%;
  height: 1px;
  background-color: #cdcd9f;
  animation: twinkle 1.7s alternate-reverse infinite;
  margin-top: 2rem;
}

#removeAll {
  width: 6.5rem;
  font-size: 0.8rem;
  margin: auto;
  background-color: #191917;
  color: #e7e7d1;
  padding: 7px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(138, 118, 6, 0.555) 0px 0px 2px 1px inset;
  cursor: pointer;
}

.img-fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(46, 43, 43, 0.781);
  animation: zoomInImage 0.4s ease-out forwards;
}

.overlay-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(32, 32, 32, 0.226);
  animation: appearsSlowly 0.5s ease forwards;
  z-index: 1000;
  opacity: 0;
}

body {
  background: linear-gradient(360deg, rgb(3, 3, 3) 27%, rgb(26, 25, 24) 92%);
}

.headline-products {
  background: linear-gradient(60deg, rgba(26, 22, 22, 0.774) 27%, rgba(39, 38, 38, 0.589) 92%);
  border-top: 1px solid wheat;
  border-bottom: 1px dashed wheat;
  color: rgb(240, 240, 226);
  text-align: center;
  padding-inline: 10rem;
  padding-bottom: 3rem;
}
.headline-products__title {
  font-size: 3.2rem;
  font-family: "Lora", "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
  padding-top: 3rem;
}
.headline-products__text {
  font-size: 1.6rem;
  font-weight: 200;
  margin: 0;
  padding-top: 3rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 7rem;
  padding-left: 12%;
  margin-right: 3%;
}

.product {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  position: relative;
  max-width: 800px;
  height: 600px;
  margin-bottom: 6rem;
  transition: 0.3s ease-in-out;
  opacity: 0;
  animation: slideInUp 0.7s ease-out forwards 0.3s;
}
.product:hover {
  gap: 1.6rem;
  margin-top: 0.4rem;
}
.product__img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 600px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(180, 175, 175, 0.212) 2px 3px 10px 2px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product__img:hover {
  margin-block: 0.8rem;
  transform: scale(102%);
  box-shadow: rgba(180, 175, 175, 0.322) 0px 3px 30px 0px;
}
.product__name {
  position: absolute;
  top: -2.2rem;
  left: 0;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: "Lora", "Montserrat", sans-serif;
  color: #fbf2e0;
  margin-left: 0.5rem;
  opacity: 0.9;
}
.product__btn--price {
  position: absolute;
  right: 27%;
  top: -2rem;
  font-size: 1rem;
  font-weight: 200;
  color: #f8e8ca;
  opacity: 0.6;
}
.product__btn--details {
  color: rgb(240, 240, 226);
  opacity: 0.9;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: pointer;
  padding: 4px;
  border-radius: 25px;
  box-shadow: rgba(104, 102, 102, 0.363) 1px 1px 3px;
  transition: 0.3s ease;
}
.product__btn--details:hover {
  border: 1px dotted #4f4f29;
  box-shadow: rgba(248, 249, 249, 0.563) 0px 1px 3px;
  padding: 5px;
  transform: scale(102%);
  color: wheat;
  opacity: 0.8;
}
.product__btn--addCart {
  color: rgb(240, 240, 226);
  opacity: 0.9;
  text-align: center;
  grid-column: 1/2;
  grid-row: 3/3;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 7rem;
  cursor: pointer;
  padding: 4px;
  border-radius: 25px;
  box-shadow: rgba(104, 102, 102, 0.363) 1px 1px 3px;
  transition: 0.3s ease;
}
.product__btn--addCart:hover {
  border-bottom: 1px dotted #4f4f29;
  box-shadow: rgba(248, 249, 249, 0.563) 0px 1px 3px;
  padding: 5px;
  transform: scale(102%);
  color: wheat;
  opacity: 0.8;
}
.product__btn--addCart--checked {
  color: rgb(12, 12, 11);
  background: #7f5811;
}

.details-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 600px;
  height: 430px;
}

.details-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(31, 31, 23) 14%, rgb(48, 48, 46) 85%);
  padding-inline: 2rem;
  border-radius: 10px;
  transform-origin: bottom;
}
.details-modal--closebtn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border: none;
  background: none;
  color: rgb(240, 240, 226);
  opacity: 0.8;
  font-size: 1.2rem;
  box-shadow: rgba(84, 87, 87, 0.712) 1px 1px 40px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.details-modal__name {
  font-size: 1.4rem;
  color: rgb(240, 240, 226);
  font-weight: 300;
  max-width: 200px;
}
.details-modal__table {
  width: 300px;
  border-collapse: separate;
  box-shadow: rgba(223, 212, 212, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.details-modal__table, .details-modal tr {
  border: 1px solid rgba(160, 138, 110, 0.205);
  border-radius: 10px;
}
.details-modal__table, .details-modal td {
  color: rgb(240, 240, 226);
  font-size: 1rem;
  font-weight: 200;
  padding: 10px;
  margin-left: auto;
}
.details-modal__table, .details-modal th {
  color: #dfdfc0;
  font-size: 1.1rem;
  font-weight: 200;
  padding-right: 1.6rem;
}

.slideUpTable {
  animation: slideInUpDetails 0.4s ease-out forwards;
}

.slideDownTable {
  animation: slideDownDetails 0.4s ease forwards;
}/*# sourceMappingURL=product-page.css.map */