@use 'global.scss' as *;
@use 'root.scss' as *;

body {
    background: $footer-color;
}

// Headlines de chaque categories
.headline-new {
    height: 280px;
    width: 100%;
    background: linear-gradient(to top, #5c5e5d00, #093637c2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    &__title {
        color: $txt-color;
        font-size: 3rem;
        font-weight: 200;
        animation: appearsSlowly 1s ease-out forwards 0.4s;
        opacity: 0;
    }
    &__subtitle {
        color: darken($txt-color, 15%);
        font-size: 1.4rem;
        font-weight: 200;
    }
    #headlineNewSub::after {
        content: "|";
        animation: blink 1.9s alternate-reverse 0.6s 2.4;
        margin-left: 5px;
        color: darken($txt-color, 50%);
        opacity: 0;
    }
}

// Gallerie
.newGallery-wrapper {
    margin-inline: 17%;
}
.newGallery {
    @include flex-center-columns;
    text-align: center;
    gap: 5rem;
    margin-block: 3.5rem;
    &__card {
        border: 1px solid rgba(255, 166, 0, 0.178);
        border-radius: 5px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        background: linear-gradient(to top, #5c5e5d00, #093637a1);
        box-shadow: rgba(156, 153, 153, 0.377) 2px 5px 20px 3px, rgba(107, 90, 90, 0.555) -10px -3px 20px 0px;
        transition: 0.3s ease-in-out;
        &:hover {
            transform: scale(111%);
        }
        &__img {
            width: 700px;
            height: 450px;
            object-fit: cover;
            &:hover {
                cursor: pointer;
            }
        }
        &__name {
            color: $txt-color;
            font-weight: 300;
            font-size: 1.7rem;
        }
        &__price {
            color: $txt-color-card;
        }
        &__addBtn {
            width: 83%;
            height: 13%;
            background: radial-gradient(circle, rgba(31, 31, 23, 1) 10%, rgb(45, 49, 45) 89%);
            opacity: 0.8;
            color: $txt-color;
            box-shadow: rgba(204, 219, 232, 0.164) 3px 3px 6px 0px inset, rgba(64, 77, 65, 0.267) -3px -3px 6px 1px inset;
            border-radius: 50px;
            @include flex-center-columns;
            font-size: 0.8rem;
            margin: auto;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                border: 1px solid darken($txt-color, 10%); 
                transform: scale(97%);
                opacity: 1;
            }
        }
    }
}

