@use 'global.scss' as *;
@use 'root.scss' as *;

// Headline
.headline-wrapper {
    width: 100%;
    height: 50rem;
    background-image: url(/img/violon-zoom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0.1rem solid $title-color;
    border-bottom: 0.4rem solid $title-color;
    margin-bottom: 1.5rem;
    animation: appearsSlowly 0.3s ease-out forwards;
    .headline {
        width: 50%;
        height: 100%;
        padding-inline: 2rem;
        @include flex-center-columns;
        flex-grow: 1;
        margin-left: 4rem;
        &__title {
            margin-top: 0;
            margin-bottom: 1.8rem;
            font-size: 8.3rem;
            color: $title-color;
            font-family: $main-titles, 'Montserrat', sans-serif;
            font-weight: 500;
            opacity: 0;
            animation: slideInUp 1.8s ease-in-out forwards;
        }
        &__subtitle {
            margin: 0;
            color: darken($txt-color, 65%);
            font-size: $subtitle-txt + 0.2;
            font-weight: 400;
        }
        #headlineSubtitle::after {
            content: "|";
            animation: blink 2.7s ease-in-out forwards 2;
            animation-delay: 0.6s;
            margin-left: 5px;
            color: darken($txt-color, 60%);
            opacity: 0;
        }
    }
}

// Filtres
.nav-wrapper {    
    width: 100%;
    height: auto;
    padding-block: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 15%;
    background: $bg-main-color;
    .nav-filters {
        display: flex;
        &__title {
            color: $txt-color;
            font-size: 1.9rem;
            font-weight: $subtitle-weight;
            transition: 0.2s ease-in-out;
            animation: growsUp 0.6s ease-out;
            &:hover {
                transform: scale(95%);
                color: darken($txt-color, 15%);
            }
        }
        &__bar {
            width: 3px;
            height: 100%;
            background: darken($txt-color, 60%);
            border-radius: 20px;
            margin-right: 2.5rem;
            transition: 0.3s;
            animation: appearsSlowly 2.2s ease-in-out;
            animation: twinkle 0.8s linear infinite alternate-reverse;
            &:hover {
                height: 0%;
                width: 40px;
                animation: none;
            }
        }
    }
}

// Section articles principaux
.article-container {
    padding-top: 7rem;
    padding-inline: 17%;
    .bigcard {
        color: $txt-color;
        @include grid-bigcard-columns;
        padding-bottom: 16rem;
        &__img-wrapper {
            position: relative;
            width: 120%;
            // width: 700px;
            padding-bottom: 2rem;
        }
        &__img {
            width: 100%;
            border-radius: 1rem;
            box-shadow: rgba(59, 59, 56, 0.329) 0px 18px 100px 20px;
        }
        .arrow {
            position: absolute;
            top: 85%;
            transform: translateY(-50%);
            border: none;
            border-radius: 40%;
            font-size: 0.7rem;
            padding: 0.7rem;
            opacity: 0.3;
            background: $btn-color;
            color: $txt-color;
            cursor: pointer;
            z-index: 10;
        }
        #arrow-left {
            left: 0.5rem;
        }
        #arrow-right {
            right: 0.5rem;
        }
        &__about {
            @include flex-center-columns;
            align-items: center;
            text-align: center;
            gap: 2rem;
            padding-left: 9rem;
            padding-bottom: 1.5rem;
            position: relative;
            &__title {
                color: $title-color-card;
                font-size: $title-bigcard;
                padding-bottom: 1rem;
            }
            &__subtitle {
                color: $txt-color-card;
                font-size: $subtitle-txt;
                font-weight: $subtitle-weight;
                margin-bottom: auto;
            }
            &__btn {
                @include btn(15rem, 4rem);
                position: absolute;
                bottom: 5%;
                font-size: $btn-txt;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    background-color: lighten($btn-color, 3%);
                    box-shadow: rgba(199, 207, 143, 0.473) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.274) -1px -1px 1px 1px inset;
                }
            }
        }
    }
}

.fade-in {
    animation: unfoldTop 0.2s ease-in-out;
}
.fade-in-txt {
    animation: unfoldBottom 1s ease-out;
}

// Modale menu
.side-modal {
    position: fixed;
    top: 0;
    left: -400px;
    width: 20%;
    height: 100%;
    background: $footer-color;
    color: $txt-color;
    z-index: 1000;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    gap: 2rem;
    &__close {
        background: none;
        border: none;
        color: $txt-color;
        opacity: 0.8;
        font-size: 1.5rem;
        align-self: flex-end;
        padding-right: 8px;
        cursor: pointer;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        font-size: 1.2rem;
        padding-top: 2rem;
        &--line {
            width: 100%;
            height: 1px;
            background-color: $title-color;
            opacity: 0.2;
            animation: twinkle 3s ease-in-out alternate-reverse infinite;
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            margin-top: auto;
            padding-bottom: 2rem;
        }
    }
}
.side-modal a {
    transition: 0.2s ease-out;
    border-radius: 10px;
    padding-left: 15px;
}
.side-modal a:hover {
    backdrop-filter: blur(20px);
    transform: scale(98%);
    border-left: 1px dashed grey;
}

.side-modal.active {
        left: 0;
    }

