@use 'global.scss' as *;
@use 'root.scss' as *;

.main-header {
    background: $header-color;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: 1rem;
    &__menu {
        color: $txt-color;
        font-size: 1.5rem;
        padding-top: 1.3rem;
        &:hover {
            cursor: pointer;
        }
    }
    &__logo {
        width: 3.5rem;
        height: auto;
        border-radius: 100px;
        padding-block: 0.5rem;
    }
    &__cart {
        color: $txt-color;
        font-size: 1.5rem;
        padding-top: 1.3rem;
        &:hover {
            cursor: pointer;
        }
    }
}


.headline-wrapper {
    width: 100%;
    height: 50rem;
    background-image: url(/img/violon-zoom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0.1rem solid $title-color;
    border-bottom: 0.4rem solid $title-color;
    margin-bottom: 1.5rem;
    .headline {
        width: 50%;
        height: 100%;
        padding-inline: 2rem;
        @include flex-center-columns;
        flex-grow: 1;
        margin-left: 4rem;
        &__title {
            margin-top: 0;
            margin-bottom: 1.8rem;
            font-size: 8rem;
            color: $title-color;
            font-family: $main-titles, 'Montserrat', sans-serif;
            font-weight: 500;
        }
        &__subtitle {
            margin: 0;
            color: darken($txt-color, 65%);
            font-size: $subtitle-txt + 0.2;
            font-weight: 400;
        }
    }
}


.nav-wrapper {    
    width: 100%;
    height: auto;
    padding-block: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 15%;
    background: $bg-main-color;
    .nav-filters {
        display: flex;
        &__title {
            color: $txt-color;
            font-size: 1.9rem;
            font-weight: $subtitle-weight;
        }
        &__bar {
            width: 1px;
            height: 100%;
            background: darken($txt-color, 40%);
            opacity: 0;
            margin-right: 2.5rem;
            transition: 0.5s;
            animation: twinkle 1.5s linear infinite alternate-reverse;
            &:hover {
                height: 0%;
            }
        }
    }
}

.article-container {
    padding-block: 7rem;
    padding-inline: 17%;
    .bigcard {
        color: $txt-color;
        @include grid-bigcard-columns;
        margin-bottom: 17rem; 
        &__img-wrapper {
            position: relative;
            width: 120%;
        }
        &__img {
            width: 100%;
            border-radius: 1rem;
        }
        .arrow {
            position: absolute;
            top: 90%;
            transform: translateY(-50%);
            border: none;
            border-radius: 40%;
            border: 2px solid white;
            font-size: 0.7rem;
            padding: 0.6rem;
            opacity: 0.2;
            background: $bg-main-color;
            color: $txt-color;
            cursor: pointer;
            z-index: 10;
        }
        #arrow-left {
            left: 0.5rem;
        }
        #arrow-right {
            right: 0.5rem;
        }
        &__about {
            @include flex-center-columns;
            align-items: center;
            text-align: center;
            gap: 2rem;
            height: auto;
            padding-left: 9rem;
            padding-bottom: 1.5rem;
            &__title {
                color: $title-color-card;
                font-size: $title-bigcard;
                padding-bottom: 1rem;
            }
            &__subtitle {
                color: $txt-color-card;
                font-size: $subtitle-txt;
                font-weight: $subtitle-weight;
                margin-bottom: auto;
            }
            &__btn {
                @include btn(15rem, 4rem);
                font-size: $btn-txt;
                cursor: pointer;
            }
        }
    }
}


