@use 'global.scss' as *;
@use 'root.scss' as *;

body {
    // background: $footer-color;
    background: linear-gradient(360deg,rgba(3, 3, 3, 1) 27%, rgb(26, 25, 24) 92%);
}

.headline-products {
    background: linear-gradient(60deg,rgba(26, 22, 22, 0.774) 27%, rgba(39, 38, 38, 0.589) 92%);
    border-top: 1px solid $title-color;
    border-bottom: 1px dashed $title-color;
    color: $txt-color;
    text-align: center;
    padding-inline: 10rem;
    padding-bottom: 3rem;
    &__title {
        font-size: 3.2rem;
        font-family: $main-titles, 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
        padding-top: 3rem;
    }
    &__text {
        font-size: 1.6rem;
        font-weight: 200;
        margin: 0;
        padding-top: 3rem;
    }
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 7rem;
    padding-left: 12%;
    margin-right: 3%;
}
.product {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    position: relative;
    max-width: 800px;
    height: 600px;
    margin-bottom: 6rem;
    transition: 0.3s ease-in-out;
    opacity: 0;
    animation: slideInUp 0.7s ease-out forwards 0.3s;
    &:hover {
        gap: 1.6rem;
        margin-top: 0.4rem;
    }
    &__img {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 600px;
        height: 430px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: rgba(180, 175, 175, 0.212) 2px 3px 10px 2px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
            margin-block: 0.8rem;
            transform: scale(102%);
            box-shadow: rgba(180, 175, 175, 0.322) 0px 3px 30px 0px;
        }
    }
    &__name {
        position: absolute;
        top: -2.2rem;
        left: 0;
        align-self: center;
        font-size: 1.2rem;
        font-weight: 100;
        font-family: $main-titles, 'Montserrat', sans-serif;
        color: $title-color-card;
        margin-left: 0.5rem;
        opacity: 0.9;
    }
    &__btn--price {
        position: absolute;
        right: 27%;
        top: -2rem;
        font-size: 1rem;
        font-weight: 200;
        color: darken($title-color-card, 5%);
        opacity: 0.6;
    }
    &__btn--details {
        color: $txt-color;
        opacity: 0.9;
        text-align: center;
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 1.1rem;
        font-weight: 300;
        cursor: pointer;
        padding: 4px;
        border-radius: 25px;
        box-shadow: rgba(104, 102, 102, 0.363) 1px 1px 3px;
        transition: 0.3s ease;
        &:hover {
            border: 1px dotted darken($txt-color-card, 50%);
            box-shadow: rgba(248, 249, 249, 0.563) 0px 1px 3px;
            padding: 5px;
            transform: scale(102%);
            color: $title-color;
            opacity: 0.8;
        }
    }
    &__btn--addCart {
        color: $txt-color;
        opacity: 0.9;
        text-align: center;
        grid-column: 1/2;
        grid-row: 3/3;
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 7rem;
        cursor: pointer;
        padding: 4px;
        border-radius: 25px;
        box-shadow: rgba(104, 102, 102, 0.363) 1px 1px 3px;
        transition: 0.3s ease;
        &:hover {
            border-bottom: 1px dotted darken($txt-color-card, 50%);
            box-shadow: rgba(248, 249, 249, 0.563) 0px 1px 3px;
            padding: 5px;
            transform: scale(102%);
            color: $title-color;
            opacity: 0.8;
        }
        &--checked {
            color: $btn-color;
            background: darken($title-color, 55%);
        }

    }
}

// Details modale
.details-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 600px;
    height: 430px;
}
.details-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(31, 31, 23, 1) 14%, rgb(48, 48, 46) 85%);
    padding-inline: 2rem;
    border-radius: 10px;
    transform-origin: bottom;
    &--closebtn {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        border: none;
        background: none;
        color: $txt-color;
        opacity: 0.8;
        font-size: 1.2rem;
        box-shadow: rgba(84, 87, 87, 0.712) 1px 1px 40px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
    }
    &__name {
        font-size: 1.4rem;
        color: $txt-color;
        font-weight: 300;
        max-width: 200px;
    }
    &__table {
        width: 300px;
        border-collapse: separate;
        box-shadow: rgba(223, 212, 212, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    &__table, tr {
        border: 1px solid rgba(160, 138, 110, 0.205);
        border-radius: 10px;
    }
    &__table, td {
        color: $txt-color;
        font-size: 1rem;
        font-weight: 200;
        padding: 10px;
        margin-left: auto;
    }
    &__table, th {
        color: darken($txt-color, 10%);
        font-size: 1.1rem;
        font-weight: 200;
        padding-right: 1.6rem;
    }
}
.slideUpTable {
    animation: slideInUpDetails 0.4s ease-out forwards;
}
.slideDownTable {
    animation: slideDownDetails 0.4s ease forwards;
}
